.blog__title {
    margin-top: 10px;

    h2 {
        font-size: 24px;
        color: #fff;
        font-weight: 500;
        cursor: pointer;
        transition: 0.4s;

        span {
            font-size: 15px;
            text-transform: capitalize;
            font-weight: 400;
            margin-right: 15px;
        }

        &:hover {
            color: #00ADEE;
        }
    }
}