@import '../../global';

.AdaMedium {
    padding: 100px 0;
    background: #21202E;
    position: relative;
    overflow: hidden;
}

.adamedium__title {
    display: flex;
    justify-content: space-between;

    h2 {
        font-size: 35px;
        font-weight: 700;
        color: #fff;
    }

    h5 {
        color: #B5FED9;
        text-transform: uppercase;
        font-weight: 500;
        text-align: right;
        margin-top: 40px;

        span {
            display: inline-block;
            width: 25px;
        }
    }
}

.adamedium__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
}

.blog__req {
    @include req;
    top: -60%;
    left: -20%;
}

.blog__circle {
    @include circle;
    top: -50%;
    right: -10%;
}

.blog__circle__2 {
    @include circle;
    bottom: -60%;
    left: -10%;
}