.Banner {
    background: #161A2B;
    padding: 100px 0;
    background-image: url('../../../assets/banner-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right center;
}
